.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.footer-container {
    background-color: #f8c6d1;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-link {
    color: #333;
    margin: 0 10px;
}

.footer-link:hover {
    color: #555;
}




.header-container {
    background-color: #f8c6d1;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-title {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
}

.search-box {
    border: 2px solid #333;
    padding: 5px 10px;
    font-size: 16px;
}




.sign-up-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.sign-up-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.sign-up-form label {
    display: block;
    margin-bottom: 10px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.sign-up-form button {
    margin-top: 10px;
}
