.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.footer-container {
    background-color: #f8c6d1;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-link {
    color: #333;
    margin: 0 10px;
}

.footer-link:hover {
    color: #555;
}




.header-container {
    background-color: #f8c6d1;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-title {
    font-family: 'Cursive', sans-serif;
    font-size: 24px;
}

.search-box {
    border: 2px solid #333;
    padding: 5px 10px;
    font-size: 16px;
}


.sign-up-form-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.sign-up-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 10px;
    border: none;
}



.sign-up-form label {
    display: block;
    margin-bottom: 10px;
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}



.sign-up-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #77b2f1;
    color: white;
    cursor: pointer;
}

.success-message {
    color: green;

}

.error-message {
    color: red;

}



.login-page-container {

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #77b2f1;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}


.login-form .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.toggle-login-type {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: #0056b3;
    cursor: pointer;
    text-decoration: underline;
}

.toggle-login-type:hover {
    color: #003366;
}





.button-link {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #add8e6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #9acfe1;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.product-item {
    flex-basis: calc(25% - 10px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.login-page-container {

    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #77b2f1;
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}


.login-form .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.toggle-login-type {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: #0056b3;
    cursor: pointer;
    text-decoration: underline;
}

.toggle-login-type:hover {
    color: #003366;
}


.nav-buttons {
    display: flex;
    align-items: center;

}

.button-link {
    margin-right: 10px;

}

.fa-shopping-cart {
    margin-right: 5px;

}

.centered-heading {
    text-align: center;
    color: #FFA500;

}


.sign-up-form-container .business-decision {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form-container .business-decision button {
    margin: 10px 10px;
    padding: 5px 10px;
    color: #05468c;
}

.sign-up-form-container .business-account-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form-container .business-account-form button {
    margin: 10px 10px;
    padding: 5px 10px;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details h4 {
    margin: 0;
    font-size: 18px;
}

.cart-item-details p {
    margin: 5px 0;
}

.cart-page {
    padding: 20px;
}

.cart-total {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.candy-detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.candy-image img {
    max-width: 300px;
    max-height: 300px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.candy-info {
    flex: 1;
    font-size: 18px;
    color: #333;
}

.candy-info h2 {
    color: #007bff;
}

.price {
    font-weight: bold;
    color: #28a745;
}

.in-stock {
    color: #28a745;
}

.out-of-stock {
    color: #dc3545;
}



.candy-detail-container button,
.shoppingCartWarp_content_list_actionNumChangeButton,
.add-to-cart-button {
    border: none;

}


.candy-detail-container button {
    margin-top: 10px;
    margin-bottom: 10px;

}


.add-to-cart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button:hover {
    background-color: #45a049;
}

.honk-banner-name {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.pacifico-regular {
  color: white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
